name: Check Formatting

on: [push]

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install clang-format
        run: sudo apt-get update && sudo apt-get install -y clang-format

      - name: Check formatting
        run: |
          files=$(git ls-files 'src/**/*.h' 'src/**/*.cpp')
          if [ -n "$files" ]; then
            clang-format -style=file -i $files
            git diff --exit-code
          fi
